@model IEnumerable<Project6TravelReview.Models.Review>

@{
    ViewBag.Title = @Html.DisplayNameFor(model => model.City.Location);
}

@*"Added Navbar"*@
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        ...
    </div>
</nav>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.City.Location)</h3>
                        <p><span class="label label-default">@Html.DisplayNameFor(model => model.Hotels)</span> &nbsp;@Html.DisplayFor(modelItem => item.Hotels)</p>
                        <p><span class="label label-default">@Html.DisplayNameFor(model => model.Dining)</span> &nbsp;@Html.DisplayFor(modelItem => item.Dining)</p>
                        <p><span class="label label-default">@Html.DisplayNameFor(model => model.Entertainment)</span> &nbsp;@Html.DisplayFor(modelItem => item.Entertainment)</p>
                        <p><span class="label label-default">@Html.DisplayNameFor(model => model.Attractions)</span> &nbsp;@Html.DisplayFor(modelItem => item.Attractions)</p>
                        <p><span class="label label-default">Date of Review-@Html.DisplayFor(modelItem => item.Date)</span>
                        <p><strong>@Html.DisplayNameFor(model => model.Recommend)</strong></p>
                        @*<p><a href="#" class="btn btn-primary" role="button">Details</a></p>*@
                        @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })

                    </div>
                </div>
            </div>
        }

    </div>




   


    
    
